<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phoebus_ravi.www.chiku">
    
    <uses-permission android:name="com.android.alarm.permission.SET_AlARM"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.example.alarmmanagernotifcation.AlarmReceiver"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RepeatingActivity"></activity>

        <receiver
            android:name=".NotificationReceiver"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.project.ActionSetter"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>